.sidebar-avatar {
   display: block;
   max-width: 10em;
   margin-bottom: 0.5rem;
   margin-left: auto;
   margin-right: auto;
}

div.footer {
    font-size: small;
}

.icon {
    max-width: 1.75em;
    padding-right: 0.5em;
    display: inline;
    margin: 0;
    border-radius: 0;
    vertical-align: middle;
}

.icon-non-initial {
    max-width: 2.25em;
    padding-left: 0.5em;
}

.post-date {
    font-size: small;
}

/* Looks like "media queries" have to come after the "defaults"... */
@media (min-width: 48em) {
     /* This is not "future proof", a better solution is needed. */
    .sidebar-nav-item-level-1 {
        padding-left: 1em;
    }
    .sidebar-avatar {
        margin-left: unset;
        margin-right: unset;
    }
}
