<ul>
$for(texts)$
<li>
  <b>$title$</b> $if(pdf)$(<a href="$pdf$">pdf</a>)$endif$ $if(tex)$(<a href="$tex$">tex</a>)$endif$ $if(git)$(<a href="$git$">git</a>)$endif$ $if(tagline)$-- $tagline$$endif$
</li>
$endfor$
</ul>
