<div class="page">
  <h1 class="page-title">$title$</h1>

  $if(modification-date)$
    <span class="post-date">
      Last updated on $modification-date$ at $modification-time$.
    </span>
  $endif$

  $body$
</div>
